nav.our-nav{
    z-index:1000;
    position:relative;
    .navbar-brand{
        #image-logo{
            width:60px !important;
            height:auto;
            object-fit: cover;
        }
    }
    .dropdown-toggle-mine{
        font-size:.8rem;
        position:relative;
        &::after{
            content:'\f054' !important;
            font-family: 'FontAwesome';
            font-style: normal;
            font-weight: 900;
            vertical-align: 0;
            border-top:none;
            font-size:.8rem;
            position:absolute;
            left:100%;
            transition: transform .3s ease;
        }
        &:hover::after{
            transform: rotate(90deg);
        }
    }
    .dropdown-menu-mine{
        position:absolute;
        top:100%;
        left:0;
        right:0;
        background-color: #f8f9fa;
        .dropdown-menu-list-mine{
            display:none;
            justify-content: space-around;
            flex-wrap: wrap;
            position: relative;
            .dropdown-mine-second{
                width:25%;
                font-size:.8rem;
                position:relative;
                .dropdown-head-mine-second{
                    font-weight: bold;
                    display:inline-block;
                    margin-bottom:1rem;
                    background-color: #f8f9fa;
                }

                a{
                    text-decoration: none;
                    color:#121212;
                }
                .dropdown-item-second{
                    position:relative;
                }
                .dropdown-item-second::after{
                    content:'';
                    position:absolute;
                    top:100%;
                    left:0;
                    width:0;
                    background-color: #000a9f;
                    height:2px;
                    transition: .3s;
                }
                .dropdown-item-second:hover{
                    color:#000a9f;
                    &::after{
                        width:100%;
                    }
                }
            }
        }
    }
    .shopping-cart-icon{
        position:relative;
        .cart-count{
            position:absolute;
            background-color: #e0e722;
            color:black;
            border-radius:50%;
            padding:.3rem;
            top:-.5rem;
            right:-.5rem;;
            font: {
                size:.5rem;
                weight:bold;
            }

        }
    }
}
// search woocommerce
.search-product-woocommerce{
    display:none;
    position:relative;
    .aws-container{
        padding:1rem;
    }
    .aws-search-field{
        padding:1rem;
        border:none;
    }
    .aws-search-clear{
        display:none
    }
    .close{
        position:absolute;
        top:50%;
        right:1rem;
        transform: translateY(-50%);
        z-index:1000;
        font-size:2rem;
        cursor: pointer;
    }
}
// header image 
.header-image{
    position:relative;
    min-height: 300px;
    .header-btn{
        position:absolute;
        top:75%;
        left:50%;
        transform: translate(-50%,-50%);
        background-color: white;
        color:black;
        padding:.5rem 3rem;
        font-size:.8rem;
        border-radius:1.2rem;
        border:1px solid #ccc;
        text-decoration: none;
        text-transform: uppercase;
        transition:.3s;
        &:hover{
            background-color: transparent;
            color:white;
        }
    }
}
// footer
footer{
    .privacy-terms{
        a, .copyright{
            font-size:.7rem;
        }
    }
}

// woocommerce Templates
  // single product 
    .product{
        header{
            display: none;
        }
        .entry-content{
            .price{
                color:#121212;
                font-weight: bold;
            }
        }
        .single-product-attributes{
            .options{
                margin:1rem 0;
            }
            input[type=radio]{
                display:none;
                + label{
                    border:1px solid #121212;
                    padding:.5rem .8rem;
                    margin:0 .5rem;
                }
                &:checked + label{
                    background-color: #121212;
                    color:white;
                }
            }
        }
        .cart{
            button[type=submit] {
                &.single_add_to_cart_button{
                    background-color: #121212 !important;
                    color:white !important;
                    display: inline-block;
                    padding : {
                        top:.8rem;
                        bottom:.8rem;
                        left:2rem;
                        right:2rem;
                    }
                }
            }
            .quantity{
                position:relative;
                input[type=number]{
                    
                    display:inline-block;
                    width:100px;
                    padding : {
                        top:.4rem;
                        bottom:.4rem;
                    }
                }
                .minus-quantity, .plus-quantity{
                    position:absolute;
                    top:50%;
                    transform:translateY(-50%);
                    padding:0 .2rem;
                    background-color: #fff;
                    z-index:10;
                    cursor:pointer
                }
                .minus-quantity{
                    left:.2rem;
                }
                .plus-quantity{
                    right:.2rem;
                }
            }
    
        }
        .related.products{
            h2{
                text-align: center;
                text-transform: uppercase;
                color:rgb(108 117 125);
            }
        }
        
    }
    
    //category page
    .page{
        padding:0 2rem;
        .entry-header{
            .entry-title{
                font-size:2rem;
                margin:1rem;
            }
        }
        .entry-content{
            > .woocommerce{
                flex-wrap: wrap;
                > .products {
                    order:3;
                    li.product{
                        @media (min-width:768px) and (max-width:991px){
                            width:45% !important;  
                        }
                        .woocommerce-LoopProduct-link{
                            @media (min-width:992px) and (max-width:1300px){
                                height: 250px;
                                display: inline-block; 
                            }
                            @media (min-width:1301px) and (max-width:1500px){
                                height: 300px;
                                display: inline-block; 
                            }
                            
                        }
                    }
                }
            }
            a.woocommerce-LoopProduct-link{
                color:#6c757d;
                font-size:.8rem;
                font-weight:bold;
                span.price{
                    font-weight:bold;
                }
            }
        }
        @media(min-width:768px){
            .woocommerce{
                display:flex;
                .products{
                    flex:1;
                }
            }
        }
        .woocommerce-ordering{
            order:1;
            width:100%;
            margin:1rem;
            .orderby{
                padding:.5rem 1rem;
                text-transform: capitalize;
                font-size:.8rem;
                display:inline-block;
                border-color:#ccc;
                    option{
                        padding:.2rem;
                    }   
            }
        }
        .custom-aside{
            order:2;
            .filter-form{
                @media(min-width:768px){
                    width:300px;
                }
                @media(min-width:1200px){
                    width:414px;
                }
            }
        }
        
    }

  // Our Breadcrumb
  .mam-woocommerce-breadcrumb{
    font-size:.8rem;
    margin:1rem 2rem;
    a{
        text-decoration: none;
        color:#121212;
        transition: .3s;
        &:hover{
            opacity:.5;
        }
    }
    i{
        margin:0 .6rem;
    }
  }

  // Filter Widget
  .filter-form{
    @media(max-width:767px){
        margin:auto;
    }
  }
  .form-reset{
    @media(max-width:767px){
        margin:1rem auto;
    }
  }
  
  .color-filter{
    label{
        border-radius:50%;
        padding:.5rem;
        width:30px;
        height:30px;
        margin:0 .2rem;
        cursor:pointer;
        box-sizing: border-box;
        transition: .3s;
        &:hover{
            border: 2px solid white;
            outline: 1px solid black;
        }
        &.color-label-checked{
            border: 2px solid white;
            outline: 1px solid black;
        }
    }
  }

  

  // change style buttons in woocommerce 

  // woocommerce account
  .woocommerce-Addresses{
    
    .woocommerce-Address{
        position:relative;
        background-color: white;
        padding:1rem;
        border-radius:1rem;
        h3{
            color:#6c757d;
        }
        a.edit{
            text-decoration:none;
            color:#a3a735;
            font-weight: bold;
            position: absolute;
            top:5px;
            right:5px;
        }
    }
  }
  
